[submodule "Medical_Image-Contrast_Enhancement_using_Genetic_Algorithms"]
	path = Medical_Image-Contrast_Enhancement_using_Genetic_Algorithms
	url = https://github.com/CARBAJE/Medical_Image-Contrast_Enhancement_using_Genetic_Algorithms.git
